@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
.title{
    font-family: 'Amatic SC', cursive;
    font-size: 60px;
    user-select: none;
}

.toggle{
    cursor: pointer;
}
.main{
    margin-bottom: 15px;
    margin-top: 20px;
}
.card-title{
    font-family: 'Sacramento', cursive;
    font-size: 60px;
}
.card-list{
    /* font-family: 'Sacramento', cursive; */
    font-size: 30px;
    list-style: none;
}
.card-list li:before { content: '😸'; margin-left: -10px; margin-right: 10px; } 

.catty{
    max-height: 200px;
    object-fit: contain;
    /* transform: rotate(20deg); */
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
}
.catty:hover{
    transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  -webkit-transform: rotate(350deg);
  -moz-transform: rotate(350deg);
  -o-transform: rotate(350deg);
  -ms-transform: rotate(350deg);
  transform: rotate(360deg);
}
.info{
    text-align: justify;
    line-height: 2em;
    max-width: 900px;
    font-size: 18px;
}